---
import type { CollectionEntry } from 'astro:content';

interface Props {
	test: CollectionEntry<'props'>;
	// id: string;
	// slug: string;
	// body: string;
}

const { test } = Astro.props;

// const { id, slug, body } = Astro.props;
---

<div>
	<p>{test.slug}</p>
	<p>{test.body}</p>
	<p>{test.id}</p>
</div>